/* Type your code here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/background-image1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 5%;
}
a{
  text-decoration: none;
}
a:visited{
  color: blue;
}
.logo {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}
.main-container {
  width: 70%;
  height: 70%;
}
.grid-container {
  display: grid;
  grid-template-columns: 90% 10%;
}
.heading-container > h3{
  color: #7f8c8d;
  padding-bottom: 25px;
}

.grid-container > div {
  background-color: orangered;
  padding: 5px;
  color: white;
}
.box1 {
  display: grid;
  grid-template-columns: 50% 10% 10% 10% 10% 10%;
  border: 1px solid gray;
  padding: 5px;
  font-family: Nunito Sans;
}
.box2 {
  display: grid;
  grid-template-columns: 30% 20% 10% 10% 10% 10% 10%;
  border: 1px solid gray;
  padding: 5px;
  font-family: Nunito Sans;
}
.box3 {
  display: grid;
  grid-template-columns: 60% 40%;
  border: 1px solid gray;
  padding: 5px;
  font-family: Nunito Sans;
}
.box4 {
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid gray;
  padding: 5px;
  font-family: Nunito Sans;
}
.main-container {
  background-color: white;
}
.did-not-bat{
  color: blue;
}


/* change the font family and spacing as per your project font */
.footer {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  position: relative;
  top: 75px;
  margin-left: 8px;
  font-size: 18px;
  font-family: Nunito Sans;
  font-style: normal;
}
